@page
@model MyCompany.Pages.Home.IndexModel
@{
	ViewData["Title"] = "Добро пожаловать!";
}

<h1>@ViewData["Title"]</h1>
<p>@Model.WelcomeMessage</p>

@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">
		<article>
			<header>
				<h2>Добро пожаловать на сайт нашей компании</h2>
				<p>
					Строй своё будущее вместе с нами!
				</p>
			</header>
			<span class="image featured"><img src="~/images/pic01.jpg" alt="welcome" /></span>
		</article>
	</div>
</div>

